@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 50.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: #afb1b3;
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn:hover{
   background:#e6e6e8;
   color: black;
   margin: 1px 1px 1px black;
   font-weight: bold;
}

.btn2{
   display: inline-block;
   background:#036dad;
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn2:hover{
   background:#023d61;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
   text-decoration: none;
}

.btn3{
   width: 105px;
   height: 40px;
   display: inline-block;
   background: var(--black);
   margin-top: 3rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn3:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn4{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn4:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
   text-decoration: none;
}
.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}
.heading-title1{
   text-align: center;
   margin-bottom: 4rem;
   margin-top: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:white;
}
.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 4rem;
   padding-bottom: 0rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
   height: 13vh;
}

.header .logo{
   padding: 0px 0px;
   margin-bottom: 5rem;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
   text-decoration: none;
}



.signout-btn{
   padding-right: 20px;
   font-weight: bold;
   background-color: #036dad;
   border-radius: 20px;
   padding: 5px 10px 5px 10px;
   margin-left: 25px;
}

.signout-btn:hover{
   background-color: #023d61;

}





#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

.home{
   padding:0;
}

.home .slide{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

.home .slide .content{
   width: 85rem;
   display: none;
}

.home .swiper-slide-active .content{
   display: inline-block;
}

.home .slide .content span{
   display: block;
   font-size: 2.2rem;
   color: var(--light-white);
   padding-bottom: 1rem;
   animation:fadeIn .2s linear backwards .2s;
}

.home .slide .content h3{
   font-size: 6vw;
   color:var(--white);
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   animation:fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn{
   animation:fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
   top:inherit;
   left: inherit;
   bottom: 0;
   right: 0;
   height: 5rem;
   width: 5rem;
   border-radius: 5px;
   background: var(--white);
   color:var(--black);
   transition: all 0.4s ease;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
   background: black;
   border-radius: 5px;
   color:var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
   font-size: 2rem;
}

.home .swiper-button-prev{
   right: 7rem;
}



.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.home-about .image{
   flex:1 1 41rem;
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--light-bg);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.home-about .content p{
   font-size: 1.5rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--black);
}

.home-packages{
   background: var(--light-bg);
}

.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.home-packages .box-container .box{
   
   box-shadow: var(--box-shadow);
   background: var(--white);
   border-radius: 50px;
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
    border-radius: 25px;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color: #079bf7;
}

.home-packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.home-offer{
   text-align: center;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content h3{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.home-offer .content p{
   font-size: 1.5rem;
   color:black;
   line-height: 2;
   padding:1rem 0;
   text-transform: none;

}




.packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
   display: inline-block;
}

.packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}


.booking .book-form{
   padding:2rem;
   background: #c7c9c9;
   border-radius: 15px;
}

.booking .book-form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.booking .book-form .flex .inputBox{
   flex:1 1 41rem;
}
.booking .book-form .flex .form-group{
   flex:1 1 41rem;
}

.booking .book-form .flex .inputBox input{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   
   text-transform: none;
   margin-top: 1.5rem;
   border-radius: 15px; 
}


.booking .book-form .flex .inputBox input:focus::placeholder{
   color:var(--light-white);
}

.booking .book-form .flex .inputBox span{
   font-size: 1.5rem;
   color:black;
    font-weight: bold;
}

.booking .book-form .btn{
   margin-top: 2rem;
}


/*--------------------------- Book a flight ----------------------------*/

.bsection {
   position: relative;
   height: 120vh;
   width: 100%;
   margin-bottom: -100px;
}

.bsection .bsection-center {
   position: absolute;
   top: 45%;
   left: 0;
   right: 0;
   -webkit-transform: translateY(-50%);
   transform: translateY(-50%);
}

.booking-form {
   padding: 0px 40px 40px;
   max-width: 642px;
   width: 100%;
   margin: auto;
   background: #d2d6d6;
   border-radius: 25px;
}

.booking-form .form-header {
   padding: 40px;
   margin: 0px -40px 30px;
   background: #1a1f24;
   border-radius: 25px;
}

.booking-form .form-header h1 {
   font-weight: 700;
   text-transform: capitalize;
   font-size: 38px;
   margin: 0;
   color: #fff;
   text-align: center;
}

.book-form .form-group {
   position: relative;
}

.book-form .form-control {
  
   
height: 40px;
   border: none;
   border-radius: 15px;
   -webkit-box-shadow: none;
   box-shadow: none;
   color: #000;
}

.book-form select.form-control {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}


.booking-form .form-group.input-not-empty .form-label {
   top: -10px;
   color: #000;
   font-size: 14px;
}

.booking-form .form-group:not( .input-not-empty) .form-control:not( :focus) {
   color: transparent;
}

.booking-form .form-group .form-control:focus+.form-label {
   top: -10px;
   color: #000;
   font-size: 14px;
}

.book-form .form-checkbox label {
   position: relative;
}

.book-form .form-checkbox label+label {
   margin-left: 15px;
}

.booking-form .form-checkbox input+span {
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   font-weight: bold;
   text-transform: none;
   margin-top: 1.5rem;
   border-radius: 15px; 
}
 
.booking-form .form-checkbox input:checked+span {
   border-color: blue;
}

.booking-form .form-checkbox input+span:after {
   content: '';
   position: absolute;
   top: 50%;
   left: 50%;
   width: 0px;
   height: 0px;
   border-radius: 50%;
   background-color: blue;
   -webkit-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   -webkit-transition: 0.2s all;
   transition: 0.2s all;
}

.booking-form .form-checkbox input:not(:checked)+span:after {
   opacity: 0;
}

.booking-form .form-checkbox input:checked+span:after {
   opacity: 1;
   width: 10px;
   height: 10px;
}

.book-form .submit-btn {
   color: #fff;
   background-color: #036dad;
   border-radius: 20px;
   font-weight: 700;
   height: 50px;
   border: none;
   padding: 0px 30px;
}

.book-form .submit-btn:hover{
   background-color: #023d61;
}

/*------------------------------ Flight status ------------------------------*/

#section3{
   background-repeat: no-repeat;
   height: 70%;
}

.fcontainer{
   padding-top: 60px;
}

.form-group-1{
   height: 50px;
   padding: 15px 40px;
}

.check{
   color: black;
   margin-left: 10px;
   font-size: 15px;
}
/*mid picture start*/

.home .slider{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: left;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}


.home .swiper-slide-active .con{
   display: inline-block;
}

.home .slider .con h5{
   display: block;
   font-size: 2.2rem;
   color: var(--light-white);
   padding-bottom: 1rem;
   text-transform:none;
}

 .con h3{
   font-size: 3vw;
   color:var(--white);
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   
}

/*mid picture ends*/


/*services section start*/
.services .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
   gap: 1.5rem;
}

.services .box-container .box{
   padding:3rem 2rem;
   text-align: center;
   background:#036dad ;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   border-radius: 25px;
}

.services .box-container .box:hover{
   background: var(--black);
}

.services .box-container .box img{
   height: 7rem;
}

.services .box-container .box h3{
   color:var(--white);
   font-size: 1.7rem;
   padding-top: 1rem;
}

/*services section ends*/


/*footer starts*/
.footer{
   background-color: black;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}


.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:white;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}
.footer .box-container .box p{
   color:white;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
   transition: all 0.3s ease-in-out;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--main-color);
}

/*footer ends*/

/* media queries starts*/

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }
   .home .slide .content h3{
      font-size: 10vw;
   }


}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }
   
   .booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 150px;
   }
}
@media (max-width:890px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 100px;
   }
}

@media (max-width:788px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }


   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }
   .booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 70px;
   }
}
@media (max-width:720px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 50px;
   }
}
@media (max-width:675px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 50px;
   }
}
@media (max-width:665px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }
   .signout-btn{

      text-align: center;
      padding: 5px 10px 5px 10px;

   }
    .col-md-6 .form-btn .submit-btn{
      margin-right: 400px;
   }
   .booking .row {
    
      display:inline;
      margin-right: 0px;
   } 

   .form-control{
      margin-right: 0px;
   }
   .home .slider .con h3{
   font-size: 6vw;

}

/* media queries ends*/
