@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 50.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: #afb1b3;
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn:hover{
   background:#e6e6e8;
   color: black;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn2{
   display: inline-block;
   background:#036dad;
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn2:hover{
   background:#023d61;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn3{
   width: 105px;
   height: 40px;
   display: inline-block;
   background: var(--black);
   margin-top: 3rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn3:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn4{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn4:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}
.heading-title1{
   text-align: center;
   margin-bottom: 4rem;
   margin-top: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:white;
}
.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   padding: 0px 0px;

}
.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
}

.signout{
   border: 1px solid #079bf7;
   border-radius: 20px;
   padding: 10px 10px;
}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

.home{
   padding:0;
}

.home .slide{
   text-align: center;
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: center;
   background-size: cover !important;
   background-position: center !important;
   min-height: 60rem;
}

.home .slide .content{
   width: 85rem;
   display: none;
}

.home .swiper-slide-active .content{
   display: inline-block;
}

.home .slide .content span{
   display: block;
   font-size: 2.2rem;
   color: var(--light-white);
   padding-bottom: 1rem;
   animation:fadeIn .2s linear backwards .2s;
}

.home .slide .content h3{
   font-size: 6vw;
   color:var(--white);
   text-transform: uppercase;
   line-height: 1;
   text-shadow: var(--text-shadow);
   padding:1rem 0;
   animation:fadeIn .2s linear backwards .4s;
}

.home .slide .content .btn{
   animation:fadeIn .2s linear backwards .6s;
}

.home .swiper-button-next,
.home .swiper-button-prev{
   top:inherit;
   left: inherit;
   bottom: 0;
   right: 0;
   height: 5rem;
   width: 5rem;
   border-radius: 5px;
   background: var(--white);
   color:var(--black);
   transition: all 0.4s ease;
}

.home .swiper-button-next:hover,
.home .swiper-button-prev:hover{
   background: black;
   border-radius: 5px;
   color:var(--white);
}

.home .swiper-button-next::after,
.home .swiper-button-prev::after{
   font-size: 2rem;
}

.home .swiper-button-prev{
   right: 7rem;
}



.home-about{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.home-about .image{
   flex:1 1 41rem;
}

.home-about .image img{
   width: 100%;
}

.home-about .content{
   flex:1 1 41rem;
   padding:3rem;
   background: var(--light-bg);
}

.home-about .content h3{
   font-size: 3rem;
   color:var(--black);
}

.home-about .content p{
   font-size: 1.5rem;
   padding:1rem 0;
   line-height: 2;
   color:var(--black);
}

.home-packages{
   background: var(--light-bg);
}

.home-packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.home-packages .box-container .box{
   
   box-shadow: var(--box-shadow);
   background: var(--white);
   border-radius: 50px;
}

.home-packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.home-packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
    border-radius: 25px;
}

.home-packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.home-packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.home-packages .box-container .box .content h3{
   font-size: 2.5rem;
   color: #079bf7;
   /*color:#157ceb;*/
}

.home-packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.home-packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.home-offer{
   text-align: center;
}

.home-offer .content{
   max-width:70rem;
   margin:0 auto;
}

.home-offer .content h3{
   font-size: 3.5rem;
   text-transform: uppercase;
   color:var(--black);
}

.home-offer .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}




.packages .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
}

.packages .box-container .box{
   border:var(--border);
   box-shadow: var(--box-shadow);
   background: var(--white);
   display: none;
}

.packages .box-container .box:nth-child(1),
.packages .box-container .box:nth-child(2),
.packages .box-container .box:nth-child(3),
.packages .box-container .box:nth-child(4),
.packages .box-container .box:nth-child(5),
.packages .box-container .box:nth-child(6){
   display: inline-block;
}

.packages .box-container .box:hover .image img{
   transform: scale(1.1);
}

.packages .box-container .box .image{
   height: 25rem;
   overflow: hidden;
}

.packages .box-container .box .image img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   transition: .2s linear;
}

.packages .box-container .box .content{
   padding:2rem;
   text-align: center;
}

.packages .box-container .box .content h3{
   font-size: 2.5rem;
   color:var(--black);
}

.packages .box-container .box .content p{
   font-size: 1.5rem;
   color:var(--light-black);
   line-height: 2;
   padding:1rem 0;
}

.packages .load-more{
   text-align: center;
   margin-top: 2rem;
}

.booking .book-form{
   padding:2rem;
   background: #c7c9c9;
   border-radius: 15px;
}

.booking .book-form .flex{
   display: flex;
   flex-wrap: wrap;
   gap:2rem;
}

.booking .book-form .flex .inputBox{
   flex:1 1 41rem;
}

.booking .book-form .flex .inputBox input{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:black;
   text-transform: none;
   margin-top: 1.5rem;
   border-radius: 15px; 
}

.booking .book-form .flex .inputBox input:focus{
   background: var(--black);
   color:var(--white);
}

.booking .book-form .flex .inputBox input:focus::placeholder{
   color:var(--light-white);
}

.booking .book-form .flex .inputBox span{
   font-size: 1.5rem;
   color:black;
    font-weight: bold;
}

.booking .book-form .btn{
   margin-top: 2rem;
}


/*--------------------------- Book a flight ----------------------------*/
#section2{
    background-size: 1600px;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    background-size: 1000px;
    height: 650px;
    font-size: 15px;
}

.heading-title{
   margin-top: 120px;
}

.trip-details{
   margin-top: 10px;
   margin-bottom: 20px;
}

.container{

   display: flex;
   height: 60vh;
   background:#d2d6d6;
   justify-content: center;
   align-items: center;
   width: 60%;
   margin: 0 260px;
   padding: 0px 30px;
   border-radius: 20px;
}

.container form .user-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

form .user-details .input-box{
   margin: 20px 0 12px 0;
   width: calc(100% / 2 - 20px);
}

form .user-details .input-box input{
   height: 45px;
   width: 100%;
   border-radius: 10px;  
}

.user-details .input-box .details{
   font-weight: 700;
}

.user-details .input-box input{
   height: 45px;
   width: 100%;
   outline: none;
   padding-left: 15px;
   padding-right: 15px;   
}

.details{
   margin-bottom: 5px;
}

.button input{
   background-color: #036dad;
   border: 1px solid #036dad;
   color: white;
   font-weight: bold;
   width: 120px;
   height: 40px;
   font-size: 15px;
   margin-top: 45px;
   margin-left: 310px;
   cursor: pointer;
   border-radius: 10px;
}

.button input:hover{
   background-color: #023d61;
   border: 1px solid #023d61;
}

/*------------------------------ Flight status ------------------------------*/
#section3{
    display: inline-block;
    width: 100%;
    background-position: center;
    background-image: url("../images/flightbg.jpg");
    background-repeat: no-repeat;
    height: 630px;
    font-size: 15px;
}

.check-box{
   margin-top: 50px;
   margin-left: 50px;
   font-weight: bold;
}

.container-1{
   background: #d2d6d6;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50%;
   opacity: 0.9;
   margin: 0 330px;
   padding: 0px 35px;
   height: 60vh;
   border-radius: 20px;
}

.container-1 form .user-details{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.button2 input{
   background-color:#036dad;
   border: 1px solid #036dad;
   font-weight: bold;
   color: white;
   width: 120px;
   height: 40px;
   font-size: 15px;
   margin-top: 30px;
   margin-left: 250px;
   cursor: pointer;
   border-radius: 10px;
}

.button2 input:hover{
   background-color: #023d61;
   border: 1px solid #023d61;
}


/*flight status ends*/





/*footer css begining*/
.footer
{
   position: relative;
   width: 100%;
   height: auto;  
   background: black;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   font-size: 12px;
}
.ext
{
   color: #fff;
   transition: all 0.3s ease;
}
.ext:hover
{
   color: #00d5ff;
}
.containerx
   {
   width: 100%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   flex-direction: row;
   }
.sec
{
   margin-right: 10px;
   margin-top: 30px;
   /*background-color: red;*/
}
.green
{
   margin-left: 0 !important;
}
.Aboutus
{
   width: 30%;
   padding-left: 30px;
}
.topic
{
   font-size: 22px;
   font-weight: 600;
   color: #fff;
   margin-bottom: 16px;
   position: relative;
}
.p1
{
   text-align: justify;
   color: #fff;
}
.TC
{
   position: relative;
   width: 25%;
}
.services
{
   width: calc(35% - 100px);
   margin-right: 0 !important;
}  
.ma
{
   line-height: 36px;
   display: inline-block;
   color: #fff;
   font-weight:normal;
   text-decoration: none;
   margin-bottom: -10px;
   text-transform: lowercase;
}
.blue
{
   width: 60%;
   position: relative;
}
.sec1
{
   margin-right: 40px;
   margin-top: 5px;
}
.sec2
{
   margin-left: 0px;
   
}

.media-iconsa
{
   font-size:25px;
   
   margin: 10px 13px 0 0;
   display: inline-block;
   text-align: center;
   line-height: 43px;
   transition: all 0.3s ease;
   
   color: white;
}
.media-iconsa:hover
{  
   color: #00d5ff;   
}
.bottom
{
   text-orientation: inline;
   color: #d9d9d9;   

}
/*footer css end*/

/* media queries  */

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }

}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }

}

@media (max-width:768px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }

}
