@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 50.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: #afb1b3;
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn:hover{
   background:#e6e6e8;
   color: black;
   margin: 1px 1px 1px black;
   font-weight: bold;
}

.btn2{
   display: inline-block;
   background:#036dad;
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn2:hover{
   background:#023d61;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
   text-decoration: none;
}

.btn3{
   width: 105px;
   height: 40px;
   display: inline-block;
   background: var(--black);
   margin-top: 3rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn3:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn4{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn4:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
   text-decoration: none;
}
.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}
.heading-title1{
   text-align: center;
   margin-bottom: 4rem;
   margin-top: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:white;
}
.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 4rem;
   padding-bottom: 0rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
   height: 13vh;
}

.header .logo{
   padding: 0px 0px;
   margin-bottom: 5rem;
}

.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
   text-decoration: none;
}



.signout-btn{
   padding-right: 20px;
   font-weight: bold;
   background-color: #036dad;
   border-radius: 20px;
   padding: 5px 10px 5px 10px;
   margin-left: 25px;
}

.signout-btn:hover{
   background-color: #023d61;

}

#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}

/*-----------------------------------------------------------------------------*/

h1.heading-title1{
   font-size: 300%;
   font-weight: bold;
   line-height: 1cm;
}

h3.heading-SubTitle{
   font-size: 150%;
   line-height: 0cm;
}

.tabs-container {
   font-family: "Roboto", sans-serif;
   font-size: medium;
   max-width: 1000px;
   min-height: 500px;
   margin: 30px auto;
   display: flex;
   box-shadow: 0 4px 40px -8px rgba(255, 13, 13, 0.2);
 }
 
 .tabs-container .tabs {
   width: 300px;
   background: rgb(0, 0, 0);
   color: #fff;
   text-transform: uppercase;
   text-align: center;

 }
 
 .tabs-container .tabs .tab {
   padding: 24px 32px;
   background: #222;
   cursor: pointer;
   font-weight: bold;
 }
 
 .tabs-container .tabs .tab.active {
   background: #f6fdff;
   color: #222;
 }
 
 .tabs-container .content-container {
   background: #f6fdff;
 }
 
 .tabs-container .content-container .content {
   display: none;
   padding: 32px;
 }
 
 .tabs-container .content-container .content.active {
   display: block;
 }
 
 .tabs-container .content-container h3 {
   margin: 0;
   font-size: 30px;
 }
 
 .tabs-container .content-container p {
   line-height: 2;
 }

/*----------------------------------------------------------------------*/

.container {
   align-items: center;
  max-width: 600px;
  width: 100%;
  background: var(--white);
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
}
.wrapper {
  display: flex;
}
.indicator {
  padding: 1.5rem 0;
  border-right: 1px solid var(--grey);
}
.indicator li {
  display: flex;
  align-items: center;
  grid-gap: .5rem;
  padding: 10px 2rem;
  cursor: pointer;
  font-size: .875rem;
  color: var(--black);
  border-right: 3px solid transparent;
}
.indicator li i {
  font-size: 1rem;
}
.indicator li:hover {
  background: var(--light-blue);
}
.indicator li.active {
  border-right-color: var(--blue);
  color: var(--blue);
  background: var(--light-blue);
}
.content {
  padding: 1.5rem 2rem;
}
.content li {
  display: none;
}
.content li.active {
  display: block;
}
.content li h1 {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: .75rem;
}
.content li p {
  margin-bottom: .5rem;
  color: var(--dark-grey);
  font-size: .875rem;
}




@media screen and (max-width: 576px) {
  .wrapper {
     flex-direction: column;
  }
  .indicator {
     border-right: none;
  }
}

/*---------------------------Manage Bookings Table------------------*/

.content-table {
   border-collapse: collapse;
   margin: 50px 0;
   font-size: 0.9em;
   min-width: 600px;
   border-radius: 5px 5px 0 0;
   overflow: hidden;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 
 .content-table thead tr {
   background-color: #000000;
   color: #ffffff;
   text-align: left;
   font-weight: bold;
 }
 
 .content-table th,
 .content-table td {
   padding: 12px 15px;
 }
 
 .content-table tbody tr {
   border-bottom: 1px solid #dddddd;
 }
 
 .content-table tbody tr:nth-of-type(even) {
   background-color: #f3f3f3;
 }
 
 .content-table tbody tr:last-of-type {
   border-bottom: 1px solid #000000;
 }
 
 .content-table tbody tr.active-row {
   font-weight: bold;
   color: #020202;
 }
/*---------------------------Account Settings------------------------*/
.form-control:focus {
   box-shadow: none;
   background-color: #cee6ec;
 }
 

 .Save-prof-button{
   background: #fff9;
   text-align: center;
   padding: 15px;
   border-radius: 5px;
   color: rgb(0, 0, 0);
   cursor: pointer;
   margin-top: 0.2cm;
   margin-bottom: 0.2cm;
   text-transform: uppercase;
}

 .profile-button {
   background: #ffffff;
   box-shadow: none;
   border: none;
 }
 
 .Save-prof-button:hover {
   background: #97c9e9;
 }
 
 .profile-button:focus {
   background: #a3bfd0;
   box-shadow: none;
 }
 
 .profile-button:active {
   background: #7a99ad;
   box-shadow: none;
 }
 

/*---------------------------Contact US----------------------------*/
.wrapper{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   max-width: 550px;
   background: rgba(0,0,0,0.8);
   padding: 30px;
   border-radius: 5px;
   box-shadow: 0 0 10px rgba(0,0,0,0.3);
 }
 
 .wrapper .title h1{
   color: #070808;
   text-align: center;
   margin-bottom: 25px;
 }
 
 .contact-form{
   display: flex;
 }
 
 .input-fields{
   display: flex;
   flex-direction: column;
   margin-right: 4%;
 }
 
 .input-fields,
 .msg{
   width: 48%;
 }
 
 .input-fields .input,
 .msg textarea{
   margin: 10px 0;
   background: transparent;
   border: 0px;
   border-bottom: 2px solid #000000;
   padding: 10px;
   color: #1a95c9;
   width: 100%;
 }
 
 .msg textarea{
   height: 212px;
 }
 
 ::-webkit-input-placeholder {
   /* Chrome/Opera/Safari */
   color: #000000;
 }
 ::-moz-placeholder {
   /* Firefox 19+ */
   color: #000000;
 }
 :-ms-input-placeholder {
   /* IE 10+ */
   color: #000000;
 }
 
 .btn {
     background: #fff9;
     text-align: center;
     padding: 15px;
     border-radius: 5px;
     color: rgb(0, 0, 0);
     cursor: pointer;
     text-transform: uppercase;
 }
 
 @media screen and (max-width: 600px){
   .contact-form{
     flex-direction: column;
   }
   .msg textarea{
     height: 80px;
   }
   .input-fields,
   .msg{
     width: 100%;
   }
 }

/*-----------------------------------------------------------------------------*/

/*footer starts*/
.footer{
   background-color: black;
   background-size: cover;
   background-position: center;
}

.footer .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
   gap: 3rem;
}


.footer .box-container .box h3{
   color:var(--white);
   font-size: 2.5rem;
   padding-bottom: 2rem;
}

.footer .box-container .box a{
   color:white;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}
.footer .box-container .box p{
   color:white;
   font-size: 1.5rem;
   padding-bottom: 1.5rem;
   display: block;
}

.footer .box-container .box a i{
   color:var(--main-color);
   padding-right: .5rem;
   transition: .2s linear;
   transition: all 0.3s ease-in-out;
}

.footer .box-container .box a:hover i{
   padding-right: 2rem;
}

.footer .credit{
   text-align: center;
   padding-top: 3rem;
   margin-top: 3rem;
   border-top: .1rem solid var(--light-white);
   font-size: 2rem;
   color:var(--white);
}

.footer .credit span{
   color:var(--main-color);
}

/*footer ends*/

/* media queries starts*/

@media (max-width:1200px){

   section{
      padding:3rem 5%;
   }
   .home .slide .content h3{
      font-size: 10vw;
   }


}

@media (max-width:991px){

   html{
      font-size: 55%;
   }

   section{
      padding:3rem 2rem;
   }

   .home .slide .content h3{
      font-size: 10vw;
   }
   
   .booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 150px;
   }
}
@media (max-width:890px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 100px;
   }
}

@media (max-width:788px){

   .heading h1{
      font-size: 4rem;
   }

   #menu-btn{
      display: inline-block;
      transition: .2s linear;
   }

   #menu-btn.fa-times{
      transform: rotate(180deg);
   }

   .header .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      background-color: var(--white);
      border-top: var(--border);
      padding:2rem;
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }


   .header .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
   }

   .header .navbar a{
      display: block;
      margin:2rem;
      text-align: center;
   }
   .booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 70px;
   }
}
@media (max-width:720px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 50px;
   }
}
@media (max-width:675px){

.booking .row {
    
      display:inline-block;
      margin-right: 5%;
   } 

   .form-control{
      margin-right: 50px;
   }
}
@media (max-width:665px){

   html{
      font-size: 50%;
   }

   .heading-title{
      font-size: 3.5rem;
   }
   .signout-btn{

      text-align: center;
      padding: 5px 10px 5px 10px;

   }
    .col-md-6 .form-btn .submit-btn{
      margin-right: 400px;
   }
   .booking .row {
    
      display:inline;
      margin-right: 0px;
   } 

   .form-control{
      margin-right: 0px;
   }
   .home .slider .con h3{
   font-size: 6vw;

}
}