@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root{
   --main-color:#8e44ad;
   --black:#222;
   --white:#fff;
   --light-black:#777;
   --light-white:#fff9;
   --dark-bg:rgba(0,0,0,.7);
   --light-bg:#eee;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{
   font-family: 'Poppins', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
   text-transform: capitalize;
}

html{
   font-size: 50.5%;
   overflow-x: hidden;
}

html::-webkit-scrollbar{
   width: 1rem;
}

html::-webkit-scrollbar-track{
   background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
   background-color: #afb1b3;
}

section{
   padding:5rem 10%;
}

@keyframes fadeIn {
   0%{
      transform: scale(0);
      opacity: 0;
   }
}

.heading{
   background-size: cover !important;
   background-position: center !important;
   padding-top: 10rem;
   padding-bottom:15rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.heading h1{
   font-size: 10rem;
   text-transform: uppercase;
   color:var(--white);
   text-shadow: var(--text-shadow);
}

.btn{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn:hover{
   background:#e6e6e8;
   color: black;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn2{
   display: inline-block;
   background:#036dad;
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn2:hover{
   background:#023d61;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn3{
   width: 105px;
   height: 40px;
   display: inline-block;
   background: var(--black);
   margin-top: 3rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}
.btn3:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.btn4{
   display: inline-block;
   background: var(--black);
   margin-top: 1rem;
   color:var(--white);
   font-size: 1.7rem;
   padding:1rem 3rem;
   border-radius: 50px;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.btn4:hover{
   background:#83858a;
   color: white;
   margin: 1px 1px 1px black;
   font-weight: bold;
}
.heading-title{
   text-align: center;
   margin-bottom: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:var(--black);
}
.heading-title1{
   text-align: center;
   margin-bottom: 4rem;
   margin-top: 3rem;
   font-size: 6rem;
   text-transform: uppercase;
   color:white;
}
.header{
   position: sticky;
   top:0; left:0; right:0;
   z-index: 1000;
   background-color: var(--white);
   display: flex;
   padding-top: 2rem;
   padding-bottom: 2rem;
   box-shadow: var(--box-shadow);
   align-items: center;
   justify-content: space-between;
}

.header .logo{
   padding: 0px 0px;

}
.header .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .navbar a{
   font-size: 2rem;
   margin-left: 2rem;
   color:var(--black);
}

.header .navbar a:hover{
   color:var(--main-color);
}


#menu-btn{
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
   display: none;
}
