html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: Arial;
}
nav{
    width: 100%;
    background: #262626;
    overflow: hidden;
    position: fixed;
    top: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
li{
    float: left;
}
a{
    padding: 20px;
    width: 100px;
    display: block;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#section1{
    height: 700px;
    background: purple;
    display: inline-block;
    width: 100%;
}
#section2{
    height: 700px;
    background: pink;
    display: inline-block;
    width: 100%;
}
#section3{
    height: 700px;
    background: yellow;
    display: inline-block;
    width: 100%;
}
#section4{
    height: 700px;
    background: red;
    display: inline-block;
    width: 100%;
}
#section5{
    height: 700px;
    background: green;
    display: inline-block;
    width: 100%;
}
#section6{
    height: 700px;
    background: blue;
    display: inline-block;
    width: 100%;
}
h1{
    margin: 100px;
    text-align: center;
    padding: 0;
}